.list-container {
  list-style: none;
  margin: 0;
  padding: 0;

  > .itemlist {
    color: $gray_text;
    padding-bottom: 0.75em;
    height: 1em;

    &::before {
      content: '•';
      font-size: 2em;
      color: $gray_bg; 
    }

    &.isvalid::before {
      color: $green;
    }

    &.isinvalid::before{
      color: $light_red;
    }

  }
  
}
