.strenght-indicator {
  width: 7.479em;
  height: 0.5em;
  background-color: $gray_bg;
  border-radius: 10em;

  &.isvalid {
    background-color: $green;
  }

  &.isinvalid {
    background-color: $light_red;
  }

  &.iswarning {
    background-color: $yellow;
  }
    
}
